<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="springBeanUtil" class="com.iqb.jxw.fes.common.util.SpringBeanUtil"></bean>-->

    <bean id="migratefileJobFactory" class="com.iqb.jxw.fes.filehandle.migrate.job.MigratefileJobFactory" factory-method="get" lazy-init="false"/>
    <!--测试-->
    <bean id="emailListener" class="com.iqb.jxw.fes.filehandle.test.listener.EmailListener"/>
</beans>